<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 5//EN">
<html lang="en">
  <head>
    
  <meta charset = "UTF-8">
  <meta name = "author" content = "group58">
  <meta name = "description" content = "PA1">
    <link rel="stylesheet" href="/static/css/style.css" />
    <title align="center">EECS485PA1</title>
</head>
  <body>
    <header> <form method="get" action="/n5hyqyyzaor/pa2/">
                <input type="submit" value="Home"/>
      </form>
    </header>
  <div class="center">
    {% block content %}{% endblock %}
  </div>
  <script type="text/javascript" src="/static/js/main.js"></script>
<footer align="left"> <font size="1"> xts&cobbju&jinhping </font></footer>
</body>


</html>
